*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 10px;
    background: white      ;
}

/*HeaderBlog title */
.header{
    padding: 10px;
    text-align: center;
    background: white   ;
    color: #25287b;
}
.header h1{
    font-size: 40px;
}

.header p{
    font-size: 20px;
}

/*Style the top navigation bar */
.topnav{
    overflow: hidden;
    background-color: #25287b;
}

/* Định dạng link điều hướng */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
    background-color: #7085db;
    color: white;
}
/* Tạo hai cột không bằng nhau , float cạnh nhau */ 
/* cột trái */
.leftcolumn{
    float: left;
    width: 75%;
}
/* cột phải */
.rightcolumn{
    float: left;
    width: 25%;
    background-color: #d8e4f4;
    padding-left: 20px;
}

/* Hình Ảnh bài viết */ 
.images{
    width: 100%;
    height: 200px;
}
/*Thêm định dạng thẻ cho bài viết */
.card-news{
    width: 30%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    float: left;
}
/* Clearn float khác sau các cột */
.row:after{
    content:"";
    display: table;
    clear: both;
}
/* Thêm định dạng thẻ nội dung thêm*/
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
/* Footer */
.footer{
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}